<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>index</key>
	<array>
		<dict>
			<key>action</key>
			<string>send</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>translateNormal</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>chs2Cht</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>dictation</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>translateInstant</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>insertText</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>selectAll</string>
			</dict>
			<key>enable</key>
			<false/>
			<key>image</key>
			<string>list.bullet.rectangle</string>
			<key>insertText</key>
			<string>遥遥领先</string>
			<key>subPrimary</key>
			<true/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{CURSOR}}」</string>
					<key>title</key>
					<string>「光标」(执行后看看光标位置)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}」</string>
					<key>title</key>
					<string>「选区」(选择文字后试试)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>copyvaultHistory</string>
					<key>insertText</key>
					<string>{{PASTEBOARD}}</string>
					<key>title</key>
					<string>剪贴板</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>http://</string>
					<key>title</key>
					<string>网站头</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}{{CURSOR}}」</string>
					<key>title</key>
					<string>「选区光标」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{SELECTION}}{{PASTEBOARD}}{{CURSOR}}」</string>
					<key>title</key>
					<string>「选区剪贴板光标」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>「{{CURSOR}}{{PASTEBOARD}}」</string>
					<key>title</key>
					<string>「光标剪贴板」(可组合变量)</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>function main(str) {
    return str{{CURSOR}};
}</string>
					<key>title</key>
					<string>｛脚本框架｝</string>
				</dict>
			</array>
			<key>title</key>
			<string>便签</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>select</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>chatGPTNoPreview</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>chatGPTShowPreview</string>
			</dict>
			<key>gpt_prompt</key>
			<string></string>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>chatGPTNormal</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>chatGPTNoHistory</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array/>
			<key>title</key>
			<string>智能</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>chatGPTUsePasteboard</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>javascript</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>selectAll</string>
			</dict>
			<key>enable</key>
			<false/>
			<key>javascript</key>
			<string>313CBF23-D49C-4E94-ABA3-D6DD3A4A232F</string>
			<key>subPrimary</key>
			<true/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>F19A889B-9041-4C1A-A4A9-AB4A30AAD940</string>
					<key>title</key>
					<string>MD清单</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>B25B4DB7-8093-4DE5-A425-6514C2959127</string>
					<key>title</key>
					<string>换行分割</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>F4853087-DDAA-496D-B211-870670D1164C</string>
					<key>title</key>
					<string>中英排版</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>0FCDBD95-4FFC-42C2-9900-DB6B57D297E9</string>
					<key>title</key>
					<string>去除空格</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>313CBF23-D49C-4E94-ABA3-D6DD3A4A232F</string>
					<key>title</key>
					<string>反转文字</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>893B0F95-C00D-49AA-8407-5AD68B198B66</string>
					<key>title</key>
					<string>清理剪贴板中商店链接</string>
				</dict>
			</array>
			<key>title</key>
			<string>脚本</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>select</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>copy</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>selectAll</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>empty</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>recoverEmpty</string>
			</dict>
			<key>subPrimary</key>
			<true/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>paste</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>cut</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>paste</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>copyvault</string>
			</dict>
			<key>enable</key>
			<false/>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>paste</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>paste</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>selectAllPaste</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>selectAllPaste</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>cursorMoveLeft</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>beginningOfDocument</string>
			</dict>
			<key>image</key>
			<string>arrow.left.circle</string>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>selectionLeftMoveLeft</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>selectionLeftMoveRight</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array/>
			<key>title</key>
			<string>标左</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>cursorMoveUp</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>cursorMoveRight</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>endOfDocument</string>
			</dict>
			<key>image</key>
			<string>arrow.right.circle</string>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>selectionRightMoveLeft</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>selectionRightMoveRight</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>title</key>
			<string>标右</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>cursorMoveDown</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>undo</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>redo</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>image</key>
			<string>arrow.uturn.left.circle</string>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>undo</string>
				<key>javascript</key>
				<string>E3446F64-CCBB-477B-A54F-D17FB7B2D51F</string>
				<key>title</key>
				<string>获取二维码</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>redo</string>
			</dict>
			<key>subPrimary</key>
			<false/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>https://</string>
					<key>title</key>
					<string>网站头一</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>http://</string>
					<key>title</key>
					<string>网站头二</string>
				</dict>
				<dict>
					<key>action</key>
					<string>insertText</string>
					<key>insertText</key>
					<string>\n\n</string>
					<key>title</key>
					<string>换行代码</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>E3446F64-CCBB-477B-A54F-D17FB7B2D51F</string>
					<key>title</key>
					<string>获取二维</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>1E750030-5941-4C1E-81BA-5794CDC0AF89</string>
					<key>title</key>
					<string>文生图集</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>129C1F2B-53A1-4021-8D41-9A4189E7EB39</string>
					<key>title</key>
					<string>老司机集</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>B36F1917-087B-4E1B-A3E5-537B96D9A7E2</string>
					<key>title</key>
					<string>搜索整合</string>
				</dict>
				<dict>
					<key>action</key>
					<string>javascript</string>
					<key>javascript</key>
					<string>99E9516D-7E43-45D4-B838-D909C6F5A164</string>
					<key>title</key>
					<string>加密解密</string>
				</dict>
			</array>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>undo</string>
			</dict>
		</dict>
		<dict>
			<key>action</key>
			<string>dismissKeyboard</string>
			<key>down</key>
			<dict>
				<key>action</key>
				<string>recoverEmpty</string>
			</dict>
			<key>enable</key>
			<true/>
			<key>left</key>
			<dict>
				<key>action</key>
				<string>insertEnter</string>
			</dict>
			<key>right</key>
			<dict>
				<key>action</key>
				<string>dismissKeyboard</string>
			</dict>
			<key>subPrimary</key>
			<true/>
			<key>subs</key>
			<array>
				<dict>
					<key>action</key>
					<string>calculator</string>
				</dict>
			</array>
			<key>title</key>
			<string>关闭</string>
			<key>up</key>
			<dict>
				<key>action</key>
				<string>empty</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
